<style type="text/css">
	.log-stat {
		overflow-y: scroll;
		max-height: 300px 
	}
	.error {
		background-color: rgba(233, 30, 99, 0.24) !important
	}
	.log-text {
		color: rgba(0, 0, 0, 0.85);
	}
	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
	    background-color: rgba(115, 118, 115, 0.32);
	}
</style>
<div class="log-stat">
  <table class="table table-bordered table-striped table-condensed">
	   <thead>
	      <tr>
	      	<td align="center"><b>IDX</b></input></td>
	        <td align="center"><b>Entity ID</b></input></td>
	        <td align="center"><b>ERPNext ID</b></td>
	        <td align="center"><b>Status</b></td>
	        <td align="center"><b>Modified Date</b></td>
	      </tr>
	    </thead>
	    <tbody>
	    {% var idx = 1 %}
	    {% $.each(entities, function(entity_id, entity){ %}
	    {% var cls = entity.operation? "": "error"; %}
			<tr>
				<td class="small log-text {%=cls%}" align="center">{%= idx++ %}</td>
				<td class="small log-text {%=cls%}" align="center">{%= entity_id %}</td>
				<td class="small log-text {%=cls%}" align="center">{%= entity.name || "NA" %}</td>
				<td class="small log-text {%=cls%}" align="center">{%= entity.operation || "Sync Failed" %}</td>
				<td class="small log-text {%=cls%}" align="center">{%= entity.modified_date %}</td>
			</tr>
		 {% }); %}
	    </tbody>
  </table>
</div>